[Unit]
Description=Casaan MQTT
After=network.target auditd.service

[Service]
WorkingDirectory=/opt/casaanMQTT
ExecStart=/opt/casaanMQTT/casaanMQTT.php
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=casaanMQTT.service
